.translation-box{
    width:90%;
    min-width: 374px;
    height:20%;
    min-height: ;
    background-color: #fff;
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 8px 8px 8px 8px;
    display: flex;
    align-items: top;
    justify-content: left;
    padding-bottom: 10%;
    padding-left: 2%;
}
.translation-box::placeholder{
    font-size: 20px;
    border-color: rgba(204, 204, 204, 0);
}
input[type="text"]
{
    font-size:20px;
    border-color: rgba(204, 204, 204, 0);
}
.main{
    height:100%;
    width:100%;
    max-width:400px;
    align-items: center ;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
body{
    height:100%;
    width:100%;
    align-items: center ;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
html{
    height:100%;
    width:100%;
    align-items: center ;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.dialect-box{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 90%;
    height: 10%;
    padding-bottom: 5%;




}
#data{
    font-size:24px;
}
.dialect-box-mini{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
    height: 100%;

}
.dialect-box-mini{
    width:50%;
    height:20%;
    background-color: #D9D9D9;
    border-radius: 34px;
    border-style: solid;
    align-items: center;
    justify-content: center;
    transition: 0.1s;

}
.dialect-box-mini:hover{
transform: scale(1.1);
transition: 0.1s;
background-color: #a3a3a3;

}
.dialect-box-mini:focus{
    transform: scale(1.1);
    transition: 0.1s;
    background-color: #a3a3a3;
    
    }
.flag-image{
    width: 10%;
    height:auto
}

* {
    outline: 0;
    font-family: sans-serif
  }
  body {
    background-color: #fafafa
  }
  span.msg,
  span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
  }
  .container {
    width: 500px;
    margin: 50px auto 0;
    text-align: center
  }
  
  /*Styling Selectbox*/
  .dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left;
    font-size: 20px;
  }
  .dropdown .select {
      cursor: pointer;
      display: block;
      padding: 10px
  }
  .dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .dropdown:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  .dropdown:active {
      background-color: #f8f8f8
  }
  .dropdown.active:hover,
  .dropdown.active {
      box-shadow: 0 0 4px rgb(204, 204, 204);
      border-radius: 2px 2px 0 0;
      background-color: #f8f8f8
  }
  .dropdown.active .select > i {
      transform: rotate(-90deg)
  }
  .dropdown .dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 2px 2px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .dropdown .dropdown-menu li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .dropdown .dropdown-menu {
      padding: 0;
      list-style: none
  }
  .dropdown .dropdown-menu li:hover {
      background-color: #f2f2f2
  }
  .dropdown .dropdown-menu li:active {
      background-color: #e2e2e2
  }
  .translation-button{
    display: flex;
    align-items: center;
    justify-content: right;
    float: right;
    height:100%;
    width: 100%;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    text-align: center;
    padding: 0px;
    line-height:0px;
    box-sizing : content-box;
    border-color: rgba(204, 204, 204, 0);
    text-align: center;
display:table-cell;
vertical-align:middle;
font-size: 20px;
transition: 0.2s;
  }
  .translation-button:active{
    transform: scale(0.9);
    transition: 0.2s;
  }
  .translation-button:hover{
    background-color: #D9D9D9;
    transition: 0.2s;
  }
  .oof{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 98%;
    height:10%;
    margin-top: -5%;
  }
  .arrow{
    height: auto;
    width: auto;
  }