.translation-box{
    width:90%;
    height:20%;
    background-color: #D9D9D9;
    border-radius: 34px;
    border-style: solid;
    border-color: #D9D9D9;
    display: flex;
    align-items: top;
    justify-content: left;
    padding-bottom: 10%;
    padding-left: 2%;
}
.main{
    height:100%;
    width:100%;
    align-items: center ;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
body{
    height:100%;
    width:100%;
    align-items: center ;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
html{
    height:100%;
    width:100%;
    align-items: center ;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.dialect-box{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 90%;
    height: 50%;



}
.dialect-box-mini{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
    height: 100%;

}
.dialect-box-mini{
    width:50%;
    height:20%;
    background-color: #D9D9D9;
    border-radius: 34px;
    border-style: solid;
    border-color: #d9d9d900;
    align-items: center;
    justify-content: center;
    transition: 0.1s;

}
.dialect-box-mini:hover{
transform: scale(1.1);
transition: 0.1s;
background-color: #a3a3a3;

}
.dialect-box-mini:focus{
    transform: scale(1.1);
    transition: 0.1s;
    background-color: #a3a3a3;
    
    }
.flag-image{
    width: 10%;
    height:auto
}

