<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spanishfy</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="main">
        <div class="dialect-box">
            <a> DIALECT MEXICO<img/></a>
        </div>
        <div class="translation-box">
            
        </div>
        <div class="arrow">

        </div>
        <div class="translation-box2">

        </div>
    </div>
</body>
</html>