<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spanishfy</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="main">
        <div class="dialect-box">
            <button class="dialect-box-mini">          
                Dialect: Mexico
                <img class='flag-image' src="static\mexico.png"/>
            </button> 
        </div>
        <input type = 'text'class="translation-box" placeholder="Type here">
            
    </input>
        <div class="arrow">
            <img src="static\arrow.png"/>
        </div>
        <div class="translation-box">

        </div>
    </div>
</body>
</html>